<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EJS Template</title>
</head>
<body>
    <h1>EJS</h1>

    <ul>
        <% people.forEach((person) => { %>
            <li>
                <%=person.name%>
            </li>
        <% }) %>
    </ul>
</body>
</html>